h2{
    color: white;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.fullName{
    width: 100%;
    display: flex;
   justify-content: space-between;


}
.eyeIcon{
    color: white;
        position: absolute;
        left: 7px;
        top: 7px;
    }
    
    .pos-relative{
        position: relative;
        width: 100%;
    }